module.exports = {
    
    server: {
        port: process.env[ 'GRUMBLE_PORT' ] || 8000
    },

    logging: {
        directory: ( process.env[ 'TMPDIR' ] || process.env[ 'TMP' ] ) + '/log/grumble',
        
        loggly: {
            subdomain: 'grumble',
            inputToken: '...'
        },
        
    },

    db: {
        host: process.env[ 'GRUMBLE_MONGO_HOST' ] || 'localhost',
        port: process.env[ 'GRUMBE_MONGO_PORT' ] || 27017,
        password: process.env[ 'GRUMBLE_MONGO_PASSWORD' ] || '',
        name: process.env[ 'GRUMBE_MONGO_DB' ] || 'grumble'
    },
    
    mixpanel: {
        id: ''
    },
    
    stripe: {
        key: {
            test: '...',
            live: '...'
        }
    },
    
    pricing: {
        logs: 5,
        users: {
            "10": 0,
            "20": 2,
            "30": 4,
            "40": 6,
            "50": 8,
            "Unlimited": 25
        },
        search: 10
    }
}
