<div class="page-header">
    <h1>Grumble <small>An Open Node.js Chat Service</small></h1>
</div>
<div class="row-fluid">
    <div class="span8">
        <h2>What is Grumble?</h2>
        <p>
            Grumble is an open chat service using node.js.
        </p>
    </div>
</div>
