<div id="{{_id}}" time="{{createdAt}}" class="message {{kind}}">
    <div class="nickname">
        {{nickname}}
    </div>
    <div class="avatar-container">
        <img class="avatar" src="{{^avatar}}/images/icons/user_64x64.png{{/avatar}}{{avatar}}" />
    </div>
    <div class="message-content">
        {{content}}
    </div>
</div>
