<div class="page-header">
    <h1>Rooms <small>All public rooms.</small></h1>
</div>
<div class="row-fluid">
    <div class="span8">
        <table class="zebra-striped">
            <tr>
                <th>Room</th>
                <th>Description</tH>
            </tr>
            {{#rooms}}
                <tr>
                    <td><a href="#/Room/{{_id}}">{{name}}</a></td>
                    <td>{{description}}</td>
                </tr>
            {{/rooms}}
        </table>
    </div>
</div>
