<div class="user" id="userlist-entry-{{clientId}}">
    <img class="user-avatar" id="userlist-entry-avatar-{{clientId}}" src="{{^avatar}}/images/icons/user_64x64.png{{/avatar}}{{avatar}}" title="{{nickname}}" />
</div>
