<div class="page-header">
    <h1>Create Room</h1>
</div>
<div class="row">
    <div class="span7">
        <form>
            <fieldset>
                <div class="control-group">
                    <label for="name">Name</label>
                    <div class="input">
                        <input class="span7" id="name" name="name" size="30" type="text" />
                    </div>
                </div><!-- /clearfix -->
                <div class="control-group">
                    <label for="description">Description</label>
                    <div class="input">
                        <textarea class="span7" id="description" name="description" rows="3"></textarea>
                    </div>
                </div><!-- /clearfix -->
                <div class="control-group">
                    <label for="tags">Tags</label>
                    <div class="input">
                        <input class="span7" id="tags" name="tags" size="30" type="text" placeholder="eg: cats, robots, llamas" />
                    </div>
                </div><!-- /clearfix -->
                <div class="control-group">
                    <select id="protection">
                        <option selected>Public</option>
                        <option>Private</option>
                    </select>
                </div>
                <div class="actions">
                    <input type="submit" class="btn primary button-create-room" value="Create">
                </div>
            </fieldset>
        </form>
    </div>
    <div class="extra span3">
        <h2>Create a Room</h2>
        <p>
            You can create your own chat room!
        </p>
    </div>
</div>
