<div class="row">
    <div class="chatlog-wrapper span9">
        <table class="table table-bordered chatlog" id="chatlog">
            <tr><td class="nickname">andy</td><td>Hey!</td></tr>
            <tr><td class="nickname">andy</td><td>Hey!</td></tr>
            <tr><td class="nickname">andy</td><td>Hey!</td></tr>
            <tr><td class="nickname">andy</td><td>Hey!</td></tr>
            <tr><td class="nickname">andy</td><td>Hey!</td></tr>
            <tr><td class="nickname">andy</td><td>Hey!</td></tr>
            <tr><td class="nickname">andy</td><td>Hey this is some long text!Hey this is some long text!Hey this is some long text!Hey this is some long text!Hey this is some long text!Hey this is some long text!Hey this is some long text!Hey this is some long text!Hey this is some long text!Hey this is some long text!Hey this is some long text!Hey this is some long text!Hey this is some long text!Hey this is some long text!Hey this is some long text!Hey this is some long text!</td></tr>
            <tr><td class="nickname">andy</td><td>Hey!</td></tr>
            <tr><td class="nickname">andy</td><td>Hey!</td></tr>
            <tr><td class="nickname">andy</td><td>Hey!</td></tr>
            <tr><td class="nickname">andy</td><td>Hey!</td></tr>
            <tr><td class="nickname">andy</td><td>Hey!</td></tr>
            <tr><td class="nickname">andy</td><td>Hey!</td></tr>
            <tr><td class="nickname">andy</td><td>Hey!</td></tr>
            <tr><td class="nickname">andy</td><td>Hey!</td></tr>
            <tr><td class="nickname">andy</td><td>Hey!</td></tr>
        </table>
    
        <div class="message-entry-wrapper">
            <form id="message-entry-form" class="message-entry-form">
                <textarea id="message-entry-content" class="span8 message-entry-content" type="text" name="content" autocomplete="off" placeholder="" / autofocus></textarea>
                <button id="submit-message" class="btn btn-primary btn-large pull-right">Send</button>
            </form>
        </div>
    </div>
    
    <div class="span3 extra" id="sidebar">
        <h2 id="room-name">{{ room.name }} <button class="btn btn-mini btn-warning" id="leave-room">Leave</button></h2>
        <hr/>
        <div id="settings">
            <a href="https://github.com/andyburke/grumble/issues" target="_blank">Bug/Feature Request</a><br>
        </div>
    </div>
</div>
